.bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.auth {
    width: 400px;
    margin:  100px  auto;
    text-align: center;
    .title-info {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 60px;
            margin-right: 10px;
        }
        .title {
            font-weight: 700;
            font-size: 25px;
        }
    }
    .item {
        margin-bottom: 10px;
        input {
            height: 40px;
        }
        .ant-input-prefix {
            span {
                svg {
                    color: #ccc;
                }
            }
        }
    }
    .forget-pass {
        text-align: left;
    }
    .login {
        button {
            width: 100%;
        }
    }
}